
[Desktop Entry]
Name=Jawi Keyboard Layout Manager
Comment=Manage Jawi Keyboard Layout Setting
Exec=jawi-keyboard
Icon=jawi-keyboard_48.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Accessories; Accessibility;Fonts;Office;System;Education; 
OnlyShowIn=GNOME;Unity;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
Name[en_US]=Jawi Keyboard Layout Manager
